{% extends 'base.html' %}
{% block title %} iCoder | Home {% endblock title %}
{% block homeActive %} active {% endblock homeActive %}
{% block body %} 

<style>
    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: .3rem;
      }
</style>

<div class="container">
    <div class="jumbotron my-3">
        <h1 class="display-4">Welcome to iCoder!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
        </p>
      </div>
</div>

<div class="container">
    <h2 class="text-center">Popular Blog Posts</h2>
    {% for post in posts %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Post by {{ post.author }}</strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-muted">{{ post.timeStamp }}</div>
          <p class="card-text mb-auto"><div class="preview">{{ post.content | safe | truncatechars:200 }}</div></p>
          <a href="/blog/{{ post.slug }}" class="stretched-link">Continue reading</a>
        </div>
      </div>
      {% endfor %}
</div>

{% endblock body %}

{% block js %}
<script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText;
  })
</script>
{% endblock js %}